:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #9d68b4;
  text-decoration: inherit;
  align-self: start;
}

a:hover {
  color: gradient(to right, #F2E6EE, #977DFF);
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(to bottom,#F2E6EE, #977DFF);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* login & signup - reused for ToDoList */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.login-card {
    height: auto;
    width: 500px;
    border-radius: 2rem;
    position: relative;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter:blur(12px);
    padding: 3rem;
}

.login-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(#F2E6EE, #977DFF);
  mask: linear-gradient(black) border-box,
        linear-gradient(black) padding-box;
  mask-composite: subtract;
}

.login-card h1 {
  margin: 0 0 1rem;
}

.login-form {
  display: grid;
  gap: 0.80rem;
}

.login-form input {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.75rem;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  background: white;

}

.login-actions {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  margin-top: 0.75rem;
}

.signout-actions {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

/* list and tasks */
.task-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  background: rgba(203, 150, 196, 0.06);
  border: 1px solid rgba(155, 101, 154, 0.15);
  transition: 0.2s ease;
  backdrop-filter: blur(4px);
}

.task-item.completed .task-description {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(255,255,255,0.2);
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: rgba(255, 0, 0, 0.2);
}



